<div>
  <h1> Bookmark Manager </h1>
</div>
  <div>

    <ul>
      <% @titles.each do |title| %>
      <form class="" action="/bookmark" method="post"
        <data value="<% title %> "></data>
        <input type="submit" name="title" " value="<%= title %>">
      </form>
      <% end %>
    </ul>

    <form class="" action="/add_bookmark" method="get">
      <input type="submit" name="Add Bookmark" value="Add Bookmark">
    </form>

    <form class="" action="/remove_bookmark" method="get">
      <input type="submit" name="Remove" value="Remove">
    </form>

    <form class="" action="/update_bookmark" method="get">
      <input type="submit" name="Update" value="Update">
    </form>
</div>
