<div>
  <h1> Bookmark Manager </h1>
</div>
  <div>
    <ul>
      <% @titles.each do |title| %>
        <li><%= title %></li>
      <% end %>
    </ul>
    <form class="" action="/add_bookmark" method="get">
      <input type="submit" name="Add Bookmark" value="Add Bookmark">
    </form>
  </div>
