<div>
  <h1> Bookmark Manager </h1>
</div>
  <div>
    <form class="List_button" action="/bookmarks" method="get">
      <input type="submit" name="List Bookmarks" value="list">
    </form>
    <form class="" action="/add_bookmark" method="get">
      <input type="submit" name="Add Bookmark" value="Add Bookmark">
    </form>
  </div>
