<form class="" action="/update_bookmark" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="url" value="url">
  <input type="text" name="title" value="title">
  <input type="submit" name="Update" value="Update">
</form>
